logging:
  level:
    io.klibs: ${KLIBS_LOGGING_LEVEL:INFO}

spring:
  datasource:
    url: ${DB0_URL_JDBC}
    username: ${DB0_USERNAME}
    password: ${DB0_PASSWORD}
    hikari:
      minimum-idle: 2
      maximum-pool-size: 9
  ai:
    openai:
      api-key: ${KLIBS_OPENAPI_KEY}
      chat:
        options:
          model: gpt-4o
    retry:
      max-attempts: 1
  liquibase:
    change-log: classpath:db/migration/db.changelog-master.yml
    default-schema: public
  jpa:
    hibernate:
      ddl-auto: validate
  docker:
    compose:
      enabled: false
  profiles:
    active: local
  web:
    resources:
      cache:
        cachecontrol:
          cache-public: true
          max-age: 24h
          must-revalidate: true
  cloud:
    aws:
      region:
        static: ${AWS_REGION:eu-west-1}
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      endpoint: ${GCS_ENDPOINT}
      s3:
        checksum-validation-enabled: false

klibs:
  api-docs:
    title: "klibs.io"
    description: "API endpoints"
  readme:
    cache-dir: ${KLIBS_CACHE_DIR_README:${user.dir}/cache/readme}
    s3:
      bucket-name: ${BUCKET_NAME}
      prefix: ${KLIBS_README_S3_PREFIX:readme}
  integration:
    maven:
      central:
        discovery-endpoint: ${KLIBS_MAVEN_CENTRAL_DISCOVERY_ENDPOINT}
        rate-limit-capacity: ${KLIBS_MAVEN_RATE_LIMIT_CAPACITY:5}
        rate-limit-refill-amount: ${KLIBS_MAVEN_RATE_LIMIT_REFILL_AMOUNT:2}
        rate-limit-refill-period-sec: ${KLIBS_MAVEN_RATE_LIMIT_REFILL_PERIOD:5}
        index-endpoint: ${KLIBS_MAVEN_INDEX_ENDPOINT:https://repo1.maven.org/maven2}
        index-dir: ${KLIBS_MAVEN_INDEX_CACHE_DIR:${user.dir}/cache/maven-index}
    github:
      personal-access-token: ${KLIBS_GITHUB_TOKEN}
      cache:
        request-cache-path: ${KLIBS_CACHE_DIR_REQUESTS:${user.dir}/cache/request-cache}
        request-cache-size-mb: ${KLIBS_CACHE_DIR_REQUEST_SIZE_MB:10}
      update-repos-per-iteration: ${KLIBS_UPDATE_GITHUB_REPOS_PER_ITERATION:3}
  indexing: ${KLIBS_ENABLE_INDEXING:false}
  indexing-configuration:
    executor:
      thread-count: 2
    central-sonatype:
      enabled: ${KLIBS_ENABLE_INDEXING_CENTRAL_SONATYPE:false}
      scraper:
        enabled: ${KLIBS_ENABLE_INDEXING_CENTRAL_SONATYPE_SCRAPER:false}
      last-updated-offset-hours: ${KLIBS_CENTRAL_SONATYPE_LAST_UPDATED_OFFSET_HOURS:3}
    gmaven:
      enabled: ${KLIBS_ENABLE_INDEXING_GMAVEN:false}
      s3:
        bucket-name: ${BUCKET_NAME}
        prefix: ${KLIBS_GMAVEN_S3_PREFIX:gmaven}
    updater:
      enabled: ${KLIBS_ENABLE_INDEXING_UPDATER:false}
  ai: true

management:
  endpoints:
    web:
      exposure:
        include: health, info, loggers, metrics, scheduledtasks, prometheus
  endpoint:
    health:
      show-components: always
      show-details: always
    prometheus:
      enabled: true
  info:
    git.enabled: true
    os.enabled: true
    java.enabled: true

springdoc:
  swagger-ui:
    default-models-expand-depth: 1
    path: /api-docs/swagger-ui.html
    display-request-duration: true
    try-it-out-enabled: true
    persist-authorization: true
  api-docs:
    path: /api-docs/v3
  disable-i18n: true

server:
  compression:
    enabled: true
